* {
    box-sizing: border-box;
}

.ad-listing {
    height: 100%;
}

.ad-listing-header {
/* få denna att ligga till vänster i hörnet och ta upp hela raden */ 
    
}

.ad-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
}

.ad-card {
width: 32%;
margin: 6px;
}

.ad-image { 
width: 100%;
}