.ad-listing {
    display: grid;
    grid-auto-rows: auto;
    grid-gap: 2rem 1rem;
    grid-template-columns: repeat(1, 1fr);
    list-style: none;
    margin: 0 auto;
    padding:  2rem 1rem 2rem 1rem;
    max-width: 31.25rem;
    width: 100%;
}

.ad-listing-header {
    margin: 0 auto;
    border-bottom: 1px solid;
    padding: 2rem 1rem 1rem 1rem;
    max-width: 31.25rem;
    width: 100%;
}

.ads-navigation {
    font-size: 1.5rem;
    margin: 0 auto;
    padding: 0 1rem 2rem 1rem;
    max-width: 31.25rem;
    width: 100%;
}

.ad-listing a,
.ads-navigation a {
    color: #000;
    text-decoration: none;
}

.icon-arrow {
    border: solid #000;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 4px;
    vertical-align: middle;
  }
  
.arrow-right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.ad-card {
    grid-column: 1 / span 1;
    width: 100%;
}

.ad-title {
    font-size: 1rem;
}

.ad-image {
    background-color: #faf9f8;
    object-fit: contain; 
    height: 200px;
    width: 100%;
}

.price-tag {
    font-size: 1rem;
    font-weight: bold;
    margin-top: 2px;
}

.ads-navigation {
   text-align: right;
}

@media screen and (min-width: 41.75rem) {
    .ad-listing {
        grid-template-columns: repeat(2, 1fr);
        max-width: 40rem;
    }

    .ad-listing-header,
    .ads-navigation { 
        max-width: 40rem;
    }
    
    .ad-card {
        grid-column: auto;
        width: 100%;
    }
}

@media screen and (min-width: 64rem) {
    .ad-listing {
        grid-template-columns: repeat(3, 1fr);
        max-width: 62.5rem;
    }

    .ad-listing-header,
    .ads-navigation { 
        max-width: 62.5rem;
    }
    
    .ad-card {
        width: 100%;
    }
}