.product {
  line-height: 1.6;
  margin: 2rem auto 1rem auto;
  max-width: 25rem;
  width: 90%;
}

.product-image {
  object-fit: contain;
  object-position: center;
  max-height: 400px;
  width: 100%;
}

.product-name {
  font-size: 1.2rem;
  line-height: 1.3;
  padding: 1rem 1.5rem 0 0;
  word-break: break-all;
}

.product-price {
  font-size: 1.2rem;
  font-weight: 700;
  padding-bottom: 1rem;
}

/* Product details section */ 

.product-section {
  border-top: 1px solid #e3e3e3;
  margin: 0 auto;
  padding: 1rem 0;
  width: 100%;
}

.product-section-heading {
  font-size: 1rem;
  margin-bottom: 0;
}

.product-details-list {
  margin: 0.75rem 0;
  list-style: none;
}

.product-attribute {
  font-weight: 700;
}

/* Seller details */

.seller {
  margin-bottom: 1rem;
}

.contact-seller {
  background-color: #000;
  border: none;
  color: #fff;
  display: inline-block;
  font-size: 1rem;
  padding: 1rem;
  text-decoration: none;
}

.contact-seller svg {
  fill: #fff;
  height: auto;
  margin-right: 0.8rem;
  vertical-align: middle;
  width: 1.5rem;
}

/* Publishing details */

.publishing-details{
  font-size: 0.8rem;
  margin-top: 1rem;
}

@media screen and (min-width: 41.75rem) {
  .product {
    max-width: 37.5rem;
    width: 80%;
  }

  .product-name {
    font-size: 1.5rem;
  }
}