.card-options {
  text-align: right;
}

.card-sell-status {
  font-size: 0.75rem;
  font-weight: bold;
}

/* Check mark */

.card-check-mark {
  display: inline-block;
  margin-right: 0.75rem;
  position: relative;
  width: 12px;
  height: 12px;
}

.card-check-mark::before {
  background-color: #006600;
  content: "";
  height: 50%;
  left: 0;
  position: absolute;
  top: 50%;
  transform: translateX(10px) rotate(-45deg);
  transform-origin: left bottom;
  width: 3px;
}

.card-check-mark::after {
  background-color: #006600;
  bottom: 0;
  content: "";
  height: 3px;
  left: 0;
  position: absolute;
  transform: translateX(10px) rotate(-45deg);
  transform-origin: left bottom;
  width: 100%;
}

/* Button */ 

.card-sell-status-button {
  padding: 0.5rem 0.75rem;
  font-size: 0.75rem;
}