.created-ad-container {
    align-items: center;
    background-color: #faf9f8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2rem auto 2rem auto;
    padding: 2rem 1rem;
    max-width: 31.25rem;
    width: 100%;
}

.created-ad-message-title {
    font-family: 'Arsenal';
    font-size: 2.8125rem;
    color: #000;
}

.created-ad-infotext {
    font-family: 'Arsenal';
    font-size: 1.6875rem;
    margin: 1rem 0 1.8rem 0;
    text-align: center;
}

.created-ad-button {
    background-color: #000;
    border: none;
    color: #fff;
    font-size: 1rem;
    padding: 1rem 2rem;
    text-decoration: none;
}

@media screen and (min-width: 41.75rem) {
    .created-ad-container {
      margin-top: 4rem;
    }
}