.created-user-title {
    font-size: 45px;
    color: black;
    font-family: 'Arsenal';
}

.created-user-infotext {
    font-size: 27px;
    margin: 30px;
    font-family: 'Arsenal';
}

.to-sign-in {
    font-size: 23px;
    color: black;
    border: 1px solid black;
    border-radius: 5px;
    padding: 4px;
    font-family: 'Arsenal';
    text-decoration: none;
}

.created-user-container {
    margin: 1rem auto 2rem auto;
    padding: 1rem;
    max-width: 300px;
    width: 100%;
    text-align: center;
}

@media screen and (min-width: 668px) {
    .created-ad-container {
      max-width: 600px;
    }
}