.created-user-title {
    font-size: 45px;
    color: black;
    font-family: 'Arsenal';
}

.created-user-infotext {
    font-size: 27px;
    margin: 30px;
    font-family: 'Arsenal';
}

.to-sign-in {
   /*  font-size: 23px;
    color: black;
    border: 1px solid black;
    border-radius: 5px;
    padding: 4px;
    font-family: 'Arsenal';
    text-decoration: none; */
        /* align-self: flex-end; */
        background-color: #000;
        border: none;
        color: #fff;
        font-size: 1rem;
        padding: 1rem 2rem;
        text-decoration: none;
}

.created-user-container {
    background-color: #faf9f8;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 8rem auto 2rem auto;
    padding: 2rem 1rem;
    max-width: 500px;
    width: 100%;
}

@media screen and (min-width: 668px) {
    .created-user-container {
      /* max-width: 600px; */
    }
}