.ad-form,
.sign-in-form,
.register-form {
  background-color: #faf9f8;
  display: flex;
  flex-direction: column;
  margin: 4rem auto 2rem auto;
  padding: 2rem 1rem;
  max-width: 31.25rem;
  width: 100%;
}

.ad-form-heading,
.sign-in-heading,
.register-heading {
  margin-bottom: 1rem;
  text-align: center;
}

/* Form fields, labels and buttons */

label {
  font-size: 0.875rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

input,
select,
textarea {
  border: 1px solid #d0d0d0;
  border-radius: 0.2rem;
  display: block;
  font-size: 1rem;
  margin-top: 0.25rem;
  padding: 0.5rem;
  width: 100%;
}

textarea {
  resize: none;
}

button {
  align-self: flex-end;
  background-color: #000;
  border: none;
  color: #fff;
  font-family: 'Arsenal';
  font-size: 1rem;
  padding: 1rem 2rem;
}

/* Switch to other form */

.change-form {
  margin-top: 1.25rem;
  text-align: right;
}

/* Error message */

.error-message {
  background: #ff6f8a78;
  border-radius: 0.2rem;
  display: flex;
  margin-bottom: 2rem;
  padding: 0.7rem;
}

.error-message svg {
  margin-right: 0.5rem;
  width: 1.4rem;
}

/* Requirements info for inputs */

.required-input::after {
  content: " *";
  color: #ff0000;
}

.requirements {
  display: none;
  font-size: 0.75rem;
  margin-left: 0.3rem;
}

select:invalid:focus + .requirements, 
input:invalid:focus + .requirements,
textarea:invalid:focus + .requirements{
  display: block;
}

@media screen and (min-width: 41.75rem) {
  .ad-form,
  .sign-in-form,
  .register-form {
    padding: 4rem;
  }
}
