/* Warning sign
<div>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
*/

.ad-form,
.sign-in-form,
.register-form {
  background-color: #faf9f8;
  display: flex;
  flex-direction: column;
  margin: 8rem auto 2rem auto;
  padding: 2rem 1rem;
  max-width: 500px;
  width: 100%;
}

label {
  font-size: 0.875rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

input,
select,
textarea {
  border: 1px solid #d0d0d0;
  border-radius: 0.2rem;
  display: block;
  font-size: 1rem;
  margin-top: 0.25rem;
  padding: 0.5rem;
  width: 100%;
}

textarea{
  resize: none;
}

.required-input::after {
  content: ' *';
  color: red;
}

.ad-form-heading,
.sign-in-heading,
.register-heading {
  margin-bottom: 1rem;
  text-align: center;
}

.change-form {
  margin-top: 20px;
  text-align: right;
}

button {
  align-self: flex-end;
  background-color: #000;
  border: none;
  color: #fff;
  font-size: 1rem;
  padding: 1rem 2rem
}

.error-message {
  background: #ff6f8a78;
  border-radius: 0.2rem;
  padding: 0.7rem;
  margin-bottom: 2rem;
  display: flex;
}

.error-message svg{
  width: 1.4rem;
  margin-right: 0.5rem;
}

.requirements{
  display: none;
  font-size: 0.75rem;
  margin-left: 0.3rem;
}

select:invalid:focus +.requirements, 
input:invalid:focus +.requirements,
textarea:invalid:focus +.requirements{
  display: block;
}

@media screen and (min-width: 668px) {
  .ad-form,
  .sign-in-form,
  .register-form {
    padding: 4rem;
  }
}
