header {
  display: flex;
  justify-content: center;
  align-items: baseline;
  background: black;
  color: #FFF;
  height: 4rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  font-family: 'Arsenal';
}

.site-title {
  margin-left: auto;
  position: absolute;
  font-size: 42px;
}

.site-title a {
  color: #fff;
  text-decoration: none;
}

.user-container {
  margin-right: 12px;
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-container a {
  margin: 5px;
}

.user-container svg{
  width: 2rem;
  fill: #FFF;
  stroke: #FFF;
}
.sign-in-link,
.registration-link {
  color: #fff;
  text-decoration: none;
}

.sign-out-button{
  align-self: flex-end;
  background-color: #000;
  border: none;
  color: #fff;
  font-size: 1rem;
  padding: 1rem;
}