.hero {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
  
.hero-content {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  z-index: 1;
}
  
.hero-title {
  color: #fff;
  font-size: 1.8rem;
  text-align: center;
}
  
.hero-tagline {
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
}
  
.hero .call-to-action {
  align-self: center;
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 6px;
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  margin-top: 1rem;
  padding: 0.5rem 0.9rem;
}
  
.hero-strip-overlay {
  background: #000;
  height: 200px;
  opacity: 0.5;
  position: absolute;
  width: 100%;
  z-index: 1;
}
  
/* Slider */

.auto-slider {
  height: auto;
  overflow-X:hidden;
  width: 100%;
}
  
.auto-slider_content {
  animation-name: slide;
  animation-duration: 25s;
  animation-iteration-count: infinite;
  display: flex;
  list-style: none;
  margin: 0;
  z-index: -2;
}
  
.auto-slider_content img {
  height: 300px;
  z-index: -3;
}
  
@keyframes slide {
  10% {
    transform: translateX(0);
  }
  
  25% {
    transform: translateX(-1080px);
  }
  
  40% {
    transform: translateX(-2160px);
  }
  
  55% {
    transform: translateX(-3340px);
  }
  
  70% {
    transform: translateX(-2160px);
  }
  
  85% {
    transform: translateX(-1080px);
  }
  
  90% {
    transform: translateX(0);
  }
}

@media screen and (min-width: 41.75rem) {
  .hero-strip-overlay {
    height: 300px;
  }

  .hero-title {
    font-size: 3.75rem;
  }

  .hero-tagline {
    font-size: 2rem;
  }

  .hero-strip-overlay {
    height: 300px;
  }

  .auto-slider_content img {
    height: 720px;
  }

  .hero .call-to-action {
    margin-top: 2rem;
    padding: 1rem 1.75rem;
  }
}
