.hero {
background-image: url('../assets/images/bluechair.jpeg');
background-size: cover;
background-repeat: no-repeat;
height: 70vh;
display: flex;
flex-direction: column;
justify-content: center;
}

.hero-title {
color: white;
font-size: 60px;
text-align: center;
}

.hero-tagline {
color: white;
font-size: 32px;
font-weight: bold;
text-align: center;
}

.CTA-button {
align-self: center;
padding: 16px 28px;
font-weight: bold;
border-radius: 6px;
font-size: 16px;
margin-top: 32px;
background-color: transparent;
color: white;
border: 2px solid white;
}