.not-found-container {
	align-items: center;
	background-color: #faf9f8;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 4rem auto 2rem auto;
	padding: 2rem 1rem;
	max-width: 500px;
	width: 100%;
}

.not-found-title {
	font-family: 'Arsenal';
	font-size: 2.375rem;
	color: #ff0000;
}

.not-found-infotext {
	font-family: 'Arsenal';
	font-size: 1.375rem;
	margin: 1.875rem;
}

.back-button {
	background-color: #000;
	border: none;
	color: #fff;
	font-size: 1rem;
	padding: 1rem 2rem;
	text-decoration: none;
}

@media screen and (min-width: 41.75rem) {
	.not-found-container {
		max-width: 600px;
	}
}