.not-found-page-title {
    font-size: 38px;
    color: red;
    font-family: 'Arsenal';
}

.not-found-info-text {
    font-size: 22px;
    margin: 30px;
    font-family: 'Arsenal';
}

.back-to-homepage {
    background-color: #000;
    border: none;
    color: #fff;
    font-size: 1rem;
    padding: 1rem 2rem;
    text-decoration: none;
}

.error-message-container {
    background-color: #faf9f8;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 8rem auto 2rem auto;
    padding: 2rem 1rem;
    max-width: 500px;
    width: 100%;
}

@media screen and (min-width: 668px) {
    .error-message-container {
      max-width: 600px;
    }
}