.userlogo {
    width: 90%;
    border-radius: 50%;
    margin-top: 20px;
}

.user-profile-wrapper {
    margin: 1rem auto 1rem auto;
    padding: 1rem;
    max-width: 300px;
    width: 100%;
    text-align: center;
}

h2 {
    font-family: 'Arsenal';
    font-size: 35px;
}

p { 
    margin-top: 10px;
}

.profile-box {
    padding: 50px;
    margin: 10px;
}