.profile-box {
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    width: 100%;
}

.profile-image-wrapper {
    margin: 0 auto 0.5rem auto;
    max-width: 200px;
    width: 70%;
}

.profile-image {
    border-radius: 50%;
    margin: 0 auto;
    width: 100%;
}

.profile-greeting {
    font-family: 'Arsenal';
    font-size: 2rem;
}

.profile-email { 
    margin-top: 0.5rem;
}

@media screen and (min-width: 41.75rem) {
    .profile-image-wrapper {
        width: 100%;
    } 

    .profile-greeting {
        font-family: 'Arsenal';
        font-size: 2.5rem;
    }
}
